WebServiceSOAP/Client/src/main/java/proxy/5.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ws.BanqueApp">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8989/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversionEUR_MAD">
<part name="parameters" element="tns:conversionEUR_MAD"/>
</message>
<message name="conversionEUR_MADResponse">
<part name="parameters" element="tns:conversionEUR_MADResponse"/>
</message>
<message name="listComptes">
<part name="parameters" element="tns:listComptes"/>
</message>
<message name="listComptesResponse">
<part name="parameters" element="tns:listComptesResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<portType name="BanqueApp">
<operation name="conversionEUR_MAD">
<input wsam:Action="http://ws/BanqueApp/conversionEUR_MADRequest" message="tns:conversionEUR_MAD"/>
<output wsam:Action="http://ws/BanqueApp/conversionEUR_MADResponse" message="tns:conversionEUR_MADResponse"/>
</operation>
<operation name="listComptes">
<input wsam:Action="http://ws/BanqueApp/listComptesRequest" message="tns:listComptes"/>
<output wsam:Action="http://ws/BanqueApp/listComptesResponse" message="tns:listComptesResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/BanqueApp/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/BanqueApp/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
</portType>
<binding name="BanqueAppPortBinding" type="tns:BanqueApp">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversionEUR_MAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ws.BanqueApp">
<port name="BanqueAppPort" binding="tns:BanqueAppPortBinding">
<soap:address location="http://localhost:8989/"/>
</port>
</service>
</definitions>